html, body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	font-size: 18px;
}

h1, h2 {
	font-family: 'Bitter', serif;
	font-weight: normal;
}

h1 {
	font-size: 36px;
	padding-top: 80px;
}

h2 {
	margin: 28px 0 50px;
}

p, ul {
	list-style: none;
	line-height: 25px;
}

.container {
	width: 900px;
	margin: 0 auto;
}

#splash {
	background-image: url('assets/splash.jpg');
	background-position: bottom;
	background-size: cover;
	height: 700px;
}

#splash .highlight {
	color: #E88A05;
}

#intro {
	background-color: #888F78;
	padding: 80px 0;
}

#intro .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#intro section {
	width: 340px;
}

#skills {
	text-align: right;
}

.computer {
	background-image: url('assets/mac.png');
	background-size: cover;
	display: block;
	float: left;
	height: 88px;
	width: 101px;
}

.fire {
	background-image: url('assets/fire.png');
	background-size: cover;
	display: block;
	float: right;
	height: 88px;
	width: 60px;
}

.vertical-line {
	background-color: #FFFFFF;
	height: 284px;
	width: 1px;
}