/* GLOBALS */

html, body {
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-family: 'Bitter', serif;
	font-weight: normal;
}

h1 {
	font-size: 36px;
	padding-top: 80px;
}

h2 {
	font-size: 24px;
	margin: 28px 0 50px;
}

p, ul {
	list-style: none;
	line-height: 25px;
	padding: 0;
}

.container {
	width: 900px;
	margin: 0 auto;
}

/* Tablet */
@media (max-width: 1024px),
(min-width: 768px) and (max-width: 1024px) and (orientation: landscape)  {
	.container {
		width: 710px;
	}
}

/* Mobile */
@media (max-width: 768px) {
	h1, h2 {
		font-size: 22px;
	}

	.container {
		margin: 0 50px;
		width: auto;
	}
}



/* SPLASH SECTION */

#splash {
	background-image: url('assets/splash.jpg');
	background-position: bottom;
	background-size: cover;
	height: 700px;
}

#splash .highlight {
	color: #E88A05;
}

/* Desktop HD */
@media (min-width: 1150px) {
	h1 {
		padding-top: 50px;
	}
}

@media (min-width: 1225px) {
	#splash .container {
		width: 1100px;
	}
}

@media (min-width: 1350px) {
	#splash {
		height: 800px;
	}
}

@media (min-width: 1500px) {
	#splash .container {
		width: 1300px;
	}
}

@media (min-width: 1650px) {
	h1 {
		padding-top: 30px;
	}
}

/* Mobile */
@media (max-width: 768px) {
	#splash {
		background-position: bottom right;
		height: 455px;
	}

	h1 {
		padding-top: 50px;
	}
}



/* INTRO SECTION */

#intro {
	background-color: #888F78;
	padding: 80px 0;
}

#intro .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#intro section {
	width: 340px;
}

#skills {
	text-align: right;
}

.computer {
	background-image: url('assets/mac.png');
	background-size: cover;
	display: block;
	float: left;
	height: 88px;
	width: 101px;
}

.fire {
	background-image: url('assets/fire.png');
	background-size: cover;
	display: block;
	float: right;
	height: 88px;
	width: 60px;
}

.vertical-line {
	background-color: #FFFFFF;
	height: 320px;
	width: 1px;
}

/* Desktop HD */
@media (min-width: 1440px) {
	#intro .container {
		width: 1000px;
	}

	#intro section {
		text-align: center;
	}
	
	.computer,
	.fire {
		float: none;
		margin: 0 auto;
	}

	.vertical-line {
		display: none;
	}
}

/* Tablet */
@media (max-width: 1024px),
(min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	#intro .container {
		flex-direction: column-reverse;
	}

	#intro section {
		margin: 0 auto;
		text-align: left;
		width: 590px;
	}

	.fire {
		float: left;
		margin-left: 22px;
	}

	#intro h2 {
		margin: -5px 0 10px 140px;
	}

	#intro p,
	#intro ul {
		margin-left: 140px;
	}

	.vertical-line {
		background-color: transparent;
		height: 80px;
	}
}

/* Mobile */
@media (max-width: 768px) {
	#intro section {
		margin: 0;
		width: auto;
	}

	.fire,
	.computer {
		float: none;
		height: 48px;
		margin: 0 auto;
		width: 33px;
	}

	.computer {
		width: 55px;
	}

	#intro h2 {
		margin: 15px 0 30px;
		text-align: center;
	}
	
	#intro p,
	#intro ul {
		margin-left: 0;
	}

	#skills ul {
		text-align: center;
	}
}

/* Mobile */
@media (max-width: 480px) {
	#skills ul {
		text-align: left;
	}
}



/* WORK SECTION */

#brands h2 {
	color: #3E492A;
	margin-top: 80px;
	text-align: center;
}

#logos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#logos li {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 150px;
	width: 250px;
}

.logo {
	background-size: cover;
	display: block;
	-webkit-transition: background-image 100ms ease-out 100ms;
	-moz-transition: background-image 100ms ease-out 100ms;
	transition: background-image 100ms ease-out 100ms;
}

.bet {
	background-image: url('assets/logos/greyscale/bet.png');
	height: 38px;
	width: 119px;
}

.bet:hover {
	background-image: url('assets/logos/color/bet.png');
}

.coca-cola {
	background-image: url('assets/logos/greyscale/coca-cola.png');
	height: 47px;
	width: 144px;
}

.coca-cola:hover {
	background-image: url('assets/logos/color/coca-cola.png');
}

.espn {
	background-image: url('assets/logos/greyscale/espn.png');
	height: 37px;
	width: 143px;
}

.espn:hover {
	background-image: url('assets/logos/color/espn.png');
}

.fossil {
	background-image: url('assets/logos/greyscale/fossil.png');
	height: 51px;
	width: 143px;
}

.fossil:hover {
	background-image: url('assets/logos/color/fossil.png');
}

.hallmark {
	background-image: url('assets/logos/greyscale/hallmark.png');
	height: 82px;
	width: 154px;
}

.hallmark:hover {
	background-image: url('assets/logos/color/hallmark.png');
}

.intuit {
	background-image: url('assets/logos/greyscale/intuit.png');
	height: 31px;
	width: 160px;
}

.intuit:hover {
	background-image: url('assets/logos/color/intuit.png');
}

.medical-center {
	background-image: url('assets/logos/greyscale/medical-center.png');
	height: 48px;
	width: 208px;
}

.medical-center:hover {
	background-image: url('assets/logos/color/medical-center.png');
}

.own {
	background-image: url('assets/logos/greyscale/own.png');
	height: 61px;
	width: 142px;
}

.own:hover {
	background-image: url('assets/logos/color/own.png');
}

.qdoba {
	background-image: url('assets/logos/greyscale/qdoba.png');
	height: 36px;
	width: 183px;
}

.qdoba:hover {
	background-image: url('assets/logos/color/qdoba.png');
}

.quickbooks {
	background-image: url('assets/logos/greyscale/quickbooks.png');
	height: 35px;
	width: 188px;
}

.quickbooks:hover {
	background-image: url('assets/logos/color/quickbooks.png');
}

.tre {
	background-image: url('assets/logos/greyscale/tre.png');
	height: 71px;
	width: 107px;
}

.tre:hover {
	background-image: url('assets/logos/color/tre.png');
}

.turbotax {
	background-image: url('assets/logos/greyscale/turbotax.png');
	height: 35px;
	width: 158px;
}

.turbotax:hover {
	background-image: url('assets/logos/color/turbotax.png');
}

.uta {
	background-image: url('assets/logos/greyscale/uta.png');
	height: 52px;
	width: 163px;
}

.uta:hover {
	background-image: url('assets/logos/color/uta.png');
}

/* Mobile */
@media (max-width: 768px) {
	#brands h2 {
		margin-bottom: 40px;
	}
}


/* FOOTER SECTION */

footer {
	background-color: #3E492A;
	padding: 80px 0;
}

button {
	background-color: #888F78;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	margin: 0 auto 50px;
	padding: 15px 20px 11px;
	-webkit-transition: background-color 100ms ease-in 100ms;
	-moz-transition: background-color 100ms ease-in 100ms;
	transition: background-color 100ms ease-in 100ms;
}

button:hover {
	background-color: #949C83;
	
}

.download {
	background-image: url(assets/download.png);
	background-size: cover;
	display: inline-block;
	height: 25px;
	margin-right: 15px;
	width: 19px;
}

button span {
	bottom: 5px;
	position: relative;
}

footer ul {
	text-align: center;
}

footer li {
	display: inline;
	padding-left: 30px;
}

footer li:nth-child(1) {
	padding-left: 0;
}

.social-icon {
	background-size: cover;
	display: inline-block;
	height: 20px;
	margin-right: 15px;
	position: relative;
	top: 5px;
	width: 20px;
}

.email {
	background-image: url('assets/social/email.png');
	top: 3px;
}

.github {
	background-image: url('assets/social/github.png');
}

.codepen {
	background-image: url('assets/social/codepen.png');
}

.instagram {
	background-image: url('assets/social/instagram.png');
}

.linkedin {
	background-image: url('assets/social/linkedin.png');
	top: 3px;
}

footer a {
	color: #FFFFFF;
	text-decoration: none;
}

footer a:hover, footer a:active {
	text-decoration: underline;
}

/* Tablet */
@media (max-width: 1024px),
(min-width: 768px) and (max-width: 1024px) and (orientation: landscape)  {
	footer .container {
		align-items: flex-end;
		display: flex;
		justify-content: space-between;
		width: 80%;
	}

	footer ul {
		margin: 0;
		text-align: left;
		width: 300px;
	}

	footer li {
		display: block;
		margin: 5px 0;
		padding-left: 0;
	}

	footer .container > a {
		order: 2;
	}

	button {
		height: 60px;
		margin: 0;
		order: 2;
	}
}

/* Mobile */
@media (max-width: 670px) {
	footer .container {
		align-items: center;
		flex-direction: column;
	}

	footer ul {
		width: 260px;
	}

	button {
		margin: 50px 0 0;
		width: 260px
	}
}
