html, body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	font-size: 18px;
}

h1, h2 {
	font-family: 'Bitter', serif;
	font-weight: normal;
}

h1 {
	font-size: 36px;
	padding-top: 80px;
}

h2 {
	margin: 28px 0 50px;
}

p, ul {
	list-style: none;
	line-height: 25px;
	padding: 0;
}

.container {
	width: 900px;
	margin: 0 auto;
}

#splash {
	background-image: url('assets/splash.jpg');
	background-position: bottom;
	background-size: cover;
	height: 700px;
}

#splash .highlight {
	color: #E88A05;
}

#intro {
	background-color: #888F78;
	padding: 80px 0;
}

#intro .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#intro section {
	width: 340px;
}

#skills {
	text-align: right;
}

#brands h2 {
	color: #3E492A;
	margin-top: 80px;
	text-align: center;
}

#logos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#logos li {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	width: 250px;
}

.computer {
	background-image: url('assets/mac.png');
	background-size: cover;
	display: block;
	float: left;
	height: 88px;
	width: 101px;
}

.fire {
	background-image: url('assets/fire.png');
	background-size: cover;
	display: block;
	float: right;
	height: 88px;
	width: 60px;
}

.vertical-line {
	background-color: #FFFFFF;
	height: 284px;
	width: 1px;
}

/* Logos */

.logo {
	background-size: cover;
	display: block;
}

.bet {
	background-image: url('assets/logos/greyscale/bet.png');
	height: 38px;
	width: 119px;
}

.coca-cola {
	background-image: url('assets/logos/greyscale/coca-cola.png');
	height: 47px;
	width: 144px;
}

.espn {
	background-image: url('assets/logos/greyscale/espn.png');
	height: 37px;
	width: 143px;
}

.fossil {
	background-image: url('assets/logos/greyscale/fossil.png');
	height: 51px;
	width: 143px;
}

.hallmark {
	background-image: url('assets/logos/greyscale/hallmark.png');
	height: 82px;
	width: 154px;
}

.medical-center {
	background-image: url('assets/logos/greyscale/medical-center.png');
	height: 48px;
	width: 208px;
}

.own {
	background-image: url('assets/logos/greyscale/own.png');
	height: 61px;
	width: 142px;
}

.qdoba {
	background-image: url('assets/logos/greyscale/qdoba.png');
	height: 36px;
	width: 183px;
}

.tre {
	background-image: url('assets/logos/greyscale/tre.png');
	height: 71px;
	width: 107px;
}

.uta {
	background-image: url('assets/logos/greyscale/uta.png');
	height: 52px;
	width: 163px;
}
